{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AristoSoft</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="{% static "materialize.css" %}">
</head>

<body>
    <nav>
        <div class="container">
            <div class="nav-wrapper">
                <a href="/" class="brand-logo">AristoSoft</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="/">Home</a></li>
                    <li><a href="/authservice">Login/Signup</a></li>
                    <li><a href="/admin">Admin</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        {% block content %}
        <div class="row">
            <div class="col s12">
                <div class="card-panel red-lighten-2">
                    <h2>Something went wrong!!</h2>
                    <sub>Failed to load content</sub>
                </div>
            </div>
        </div>
        {% endblock %}
    </div>


    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Check us out </h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">Facebook</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Twitter</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Linkedin</a></li>
                    </ul>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Links</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="/sitelinks/about">About</a></li>
                        <li><a class="grey-text text-lighten-3" href="/sitelinks/privacypolicy">Privacy Policy</a></li>
                        <li><a class="grey-text text-lighten-3" href="/sitelinks/termsofuse">Terms of Service</a></li>
                        <li><a class="grey-text text-lighten-3" href="/sitelinks/career">Career</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2019 Copyright Text
                <a class="grey-text text-lighten-4 right" href="/sitelinks/sitemap">Site Map</a>
            </div>
        </div>
    </footer>


    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
        M.AutoInit();
    </script>
</body>

</html>